					 /*Body*/

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-image: url('Images/mainBackground5.jpg'); 
}

#logo {
	border: 1px solid black;
	margin-top: 20px;
	padding: 2px;
	font-size: 2rem;
	background-color: #f5f5f5;
	opacity: .7;
}

#nav {
	display: inline;
	margin-top: -30px;
}

.navs {
	float: right;
	height: 30px;
	width: 100px;
	margin-top: 10px;
	text-align: center;
	padding-top: 8px;
	color: white;
	cursor: pointer;
	opacity: .8;
}

#info {
	background-color: #ffc125;
}


#info:hover {
	opacity: 1;
	border-bottom: 2px solid #66cdaa;
}

#location {
	background-color: #008080;
}

#location:hover {
	opacity: 1;
	border-bottom: 2px solid #40e0d0;

}

#about {
	background-color: #667937;
}

#about:hover {
	opacity: 1;
	border-bottom: 2px solid yellow;

}

#infoDiv {
	width: 300px;
	height: 500px;
	margin-right: -300px;
	margin-top: 50px;
	float: right;
	background-color: black;
	display: none;
	opacity: .5;
}

#buttons {
	margin: 170px auto;
	width: 200px;
	height: 200px;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	text-align: center;
	grid-gap: 10px;
	position: relative;
}

.btn {
	padding-top: 30px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}


#add {
	background-color: #000;
	opacity: .7;
}

#add:hover {
	opacity: 1;
}

#view {
	background-color: #088da5;
	opacity: .7;
}

#view:hover {
	opacity: 1;
}

a {
	text-decoration: none;
}

							/*addContact.html*/

#container {
	width: 80%;
	height: 560px;
	margin: 10px auto;
	background-image: url('Images/mainBackground1.jpg');
	background-size: cover;
	padding-top: 50px;
	overflow: hidden;
}

.inputs {
	display: block;
	position: relative;
	margin: 0px auto;
	width: 250px;
	height: 50px;
	font-size: 1.5rem;
	font-family: Arial;
	border-radius: 3px;
	opacity: .8;
	margin-top: 5px;
}

#form .inputs:nth-child(7) {
	width: 250px;
	margin-top: 20px;
	cursor: pointer;
}

.inputs:hover {
	opacity: 1;
}



						/*viewAll.html*/

.headData {
	padding-right: 50px;
	font-size: 1.8rem;
	text-align: left;
}	

.fields {
	font-size: 1.5;
	padding: 5px;
}

td, th {
	border: 2px solid orange;
}
table {
	border-collapse: collapse;
	color: white;
	background-color: black;
	opacity: .7;
	
}


a {
	color: red;
}

tr th:nth-child(8) {
	background-color: green;
}

th img:nth-child(1) {
	margin-left: 40px;
}

img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	cursor: pointer;
	display: inline;
}

tr td:nth-child(8) {
	background-color: red;
	opacity: 1;
}


tr td:nth-child(8) a {
	cursor: pointer;
}

#fade {
	width: 300px;
	height: 400px;
	margin-top: 30px;
	margin-left: 120px;
	position: fixed;
	font-size: 2rem;
	font-family: 'Arial';
	font-weight: bold;
}

#fade ul {
	padding-top: 10px;
}

#fade li {
	margin-top: 10px;
	list-style: none;
}




												/*Media query*/

@media only screen and (max-width: 600px) {
	#nav {
		float: right;
		width: 100px;
		margin-top: 40px;
	}

	.navs {
		position: relative;
	}

	#infoDiv {
		position: relative;
		padding-bottom: 10px;
		width: 260px;
		height: 100px;
		float: left;
	}
}
